div.toiletBodyContainer {
    padding-top: 30px;
    width: 70%;
    margin: auto;
    display: flex;
}

div.toiletDescriptionContainer {
    width: 70%;
}

div.toiletInfo {
    display: block;
}

div.toiletDescriptionTextContainer {
    padding-top: 7%;
    padding-bottom: 40px;
    width: 100%;
    border-bottom: 1px solid #000000;
}

div.toiletDescriptionText{
    width: 70%;
    margin: auto;
}

img.toiletDescriptionImage {
    background-color: gray;
    width: 100%; 
    margin-top: auto;
    margin-bottom: auto;
    height: 400px;
    object-fit: contain;
}
div.nearToiletsContainer {
    width: 30%;
    margin: 20px;
}
li.nearToiletContent {
  display: flex;
  border-bottom:1px solid #000000;
}
img.nearToiletContentImage {
  background-color: gray;
  width: 50px; 
  margin-top: auto;
  margin-bottom: auto;
  height: 50px;
  object-fit: contain;
}
p.toiletDescriptionDescription {
    min-height: 300px;
    padding-top: 20px;
}
input#bookmarkSubmitButton {
    margin:10px;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

input#showTextAreaButton {
  margin:10px;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

div.buttonContainer {
    display: flex;
}

input.nameField {
    display: block;
    border:0;
padding:10px;
font-size:1.3em;
font-family:Arial, sans-serif;
color:#000000;
border:solid 1px #ccc;
margin:0 0 20px;
width:50%;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

textarea.descriptionField {
    display: block;
    border:0;
padding:10px;
font-size:1.1em;
font-family:Arial, sans-serif;
color:#000000;
border:solid 1px #ccc;
margin:0 0 20px;
width:70%;
height: 200px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
input:focus {
	border:solid 1px #EEA34A;
}

form#editArea {
    display: block;
}

p.toilet {
    font-size: 1.2em;
}

input#submitDescriptionButton {
    margin:auto;
  position: relative;
  display: block;
  width: 70px;
  height: 40px;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

div.postReviewContainer {
    margin-top: 20px;
    border-top: 1px solid #000000;
}

select#valuationInput {
    display: block;
}

textarea#reviewMessage {
    display: block;
    border:0;
padding:10px;
font-size:1.1em;
font-family:Arial, sans-serif;
color:#000000;
border:solid 1px #ccc;
margin:0 0 20px;
width:70%;
height: 200px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

input#submitReviewButton {
    margin:auto;
  position: relative;
  display: block;
  width: 70px;
  height: 40px;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

select#valuationInput {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #999;
	background: #eee;
	background: url(arrow01.png) right 50% no-repeat, -webkit-linear-gradient(top, #fff 0%,#efebe1 100%);
	background: url(arrow01.png) right 50% no-repeat, linear-gradient(to bottom, #fff 0%,#efebe1 100%);
	background-size: 20px, 100%;
}

img#userIcon {
    background-color: gray;
  width: 40px; 
  margin-top: auto;
  margin-bottom: auto;
  height: 40px;
  object-fit: contain;
}

li.toiletDescriptionReviewContent {
    display: flex;
    border-bottom:1px solid #000000;
}

div.userReviewTextContainer {
    padding-left: 10px;
}