ul {
    list-style-type: none;
    padding: 0%;
}

ul.popularToiletList {
    min-height: 100%;
}

li.pupularToiletContent {
    display: flex;
    margin-top: 10px;
    box-shadow: 0.5px 0.5px 10px;
    
}

img.toiletImage {
  background-color: gray;
  width: 200px; 
  height: 200px;
  object-fit: contain;
}

p.toiletName {
    font-size: 1.3em;
}

div.bodyContainer {
    position: relative;
    width: 70%;
    height: 100%;
    padding-top: 7%;
    margin: auto;
    display: flex;
}

div.pupularToilet {
    width: 60%;
}
div.toiletText {
    margin-left: 20px;
}

div.toiletDescription {
    margin: 10px;
}

div.userRanking {
    margin-left: 20px;
    width: 40%;
}


li.userContent {
    display: flex;
    border-bottom:1px solid #000000;
    padding-left: 10px;
}

p.rank {
    font-size: 1.2em;
    width: 30px;
}

img.userImage {
  background-color: gray;
  width: 40px; 
  margin-top: auto;
  margin-bottom: auto;
  height: 40px;
  object-fit: contain;
}

p.userName {
    margin-left: 10px;
}

p.listValutaionContainer {
    color: darkorange;
}

p.reviewerName {
    margin-bottom: 2px;
    font-weight: bold;
}

p.valuation {
    margin: 2px;
    color: darkorange;
}

p.reviewText {
    padding-bottom: 10px;
    margin-bottom: 0;
    margin-top: 2px;
}