ul {
    list-style-type: none;
    padding: 0%;
}

ul.popularToiletList {
    min-height: 100%;
}

li.pupularToiletContent {
    display: flex;
    margin-top: 10px;
    box-shadow: 0.5px 0.5px 10px;
    
}

img.toiletImage {
  background-color: gray;
  width: 200px; 
  height: 200px;
  object-fit: contain;
}

p.toiletName {
    font-size: 1.3em;
    font-weight: bold;
}

div.bodyContainer {
    position: relative;
    width: 70%;
    height: 100%;
    padding-top: 7%;
    margin: auto;
    display: flex;
}

div.pupularToilet {
    width: 60%;
}
div.toiletText {
    margin-left: 20px;
}

div.toiletDescription {
    margin: 10px;
}

div.userRanking {
    margin-left: 20px;
    width: 40%;
}


li.userContent {
    display: flex;
    border-bottom:1px solid #000000;
    padding-left: 10px;
}

p.rank {
    font-size: 1.2em;
    width: 30px;
}

img.userImage {
  background-color: gray;
  width: 40px; 
  margin-top: auto;
  margin-bottom: auto;
  height: 40px;
  object-fit: contain;
}

p.userName {
    margin-left: 10px;
}

p.listValutaionContainer {
    color: darkorange;
    margin-top: 0;
    font-weight: bold;
}

p.reviewerName {
    margin-bottom: 2px;
    font-weight: bold;
}

p.valuation {
    margin: 2px;
    color: darkorange;
}

p.reviewText {
    padding-bottom: 10px;
    margin-bottom: 0;
    margin-top: 2px;
}

span#v {
    color: black;
    font-weight: normal;
}

div.topHeaderContainer {
    background: url("park.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 0;
  padding-top: 7%;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

div.topHeaderContainer:before {
    content: '';
  background: inherit;/*.bgImageで設定した背景画像を継承する*/
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

p#natureCallMe {
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 3.5em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,.4);
}

div.topHeaderContents {
    width: 70%;
    height: 100%;
    margin: auto;
}

input#topHeaderTextField {
    width: 85%;
    border:0;
    padding:10px;
    font-size:1.3em;
    font-family:Arial, sans-serif;
    color:#000000;
    border:solid 1px #ccc;
    margin:0 0 20px;
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

input#topHeaderTextField:focus {
    border:solid 1px #EEA34A;
}

input#topHeaderSubmitButton {
    width: 15%;
    position: relative;
    display: inline-block;
    padding: 10px;
    font-size: 1.2em;
    margin:0 0 20px;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*背景色*/
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
}

#topHeaderSubmitButton:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

div.topHeaderFormContainer {
    width: 100%;
    margin: auto;
}

form#topHeaderForm {
   width:70%;
    display: flex;
    margin: auto;
}
